:root {
  /* COLORS styles */
  --iris-color: #4d5ae5;
  --ocean-color: #404bbf;
  --color-navy-blue: #2e2f42;
  --color-green: #31d0aa;
  --color-slate: #434455;
  --color-light-slate: #8e8f99;
  --color-cornflower: #e7e9fc;
  --color-cloud: #f4f4fd;
  --color-navy-blue-modal: #2e2f42;
  --color-grey: #2e2f42;
  --color-dairy: #fcfcfc;
  --white-color: #fff;

  /* Fonts styles */
  --primary-font: "Roboto";
  --secondary-font: "Raleway";
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--color-slate);
  background-color: var(--white-color);
}

/* Resets */

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.link {
  text-decoration: none;
}

/* MENTOR STYLES of CONTAINERS */
/* .container {
  max-width: 428px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1158px;
  }
} */

/* Base */

.container {
  /* Mobile first */
  min-width: 320px;
  max-width: 448px;
  margin: 0 auto;
  padding: 0 15px;
}

@media only screen and (min-width: 768px) {
  /* Tablet */
  .container {
    max-width: 768px;
  }
}

@media only screen and (min-width: 1200px) {
  /* Desktop */
  .container {
    max-width: 1158px;
    /* padding: 0 16px; */
  }
}

/* .container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
} */

.section {
  padding: 96px 0;
}

@media only screen and (min-width: 1200px) {
  .section {
    padding: 120px 0;
  }
}

.section-third {
  padding: 0 0 120px 0;
}

.header-border {
  border-bottom: 1px solid var(--color-cornflower);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

/* .header-border [border-bottom] {
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
} */

.headlines {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--color-navy-blue);
}

.some-titles {
  text-align: center;
  margin: 0 auto 72px auto;
}

.items-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: var(--color-navy-blue);
  margin: 0 0 8px 0;
  /* text-align: center; */
}

@media only screen and (min-width: 1200px) {
  .items-title {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
  }
}

.small-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;
  text-transform: none;
  color: var(--color-slate);
}

/* WAREHOSE */

/* ======= Mobile MENU */

.menu-toggle {
  min-height: 40px;
  min-width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
}

@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}

.menu-toggle:hover,
.menu-toggle:focus {
  background-color: rgba(0, 0, 0, 0.1);
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 32px;
  background-color: #3f51b5;
  z-index: 999;

  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-container .menu-toggle {
  position: absolute;
  top: 16px;
  right: 16px;
  color: #fff;
}

.mobile-menu {
  padding: 0;
  margin: 0;
  list-style: none;
}

.mobile-menu .link {
  display: block;
  padding: 10px;
  color: #fff;
  text-decoration: none;
}

/* Header section */

.menu-padding {
  padding: 24px 0;
}

.header-container {
  display: flex;
  align-items: center;
  margin: 0 auto;
  padding: 0 15px;
}

.header-nav-row {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.header-address-row {
  display: none;
  /* display: flex; */
  align-items: center;
  gap: 40px;
}

.link-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-navy-blue);
}

.address-link-text {
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--color-slate);
}

.links-header {
  position: relative;
  font-weight: 500;
  color: var(--color-navy-blue);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-address {
  color: var(--color-slate);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logo-font {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--iris-color);
  margin-right: 76px;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logo-link {
  color: var(--color-navy-blue);
}
.hed-link-active:hover,
.hed-link-active:focus {
  color: var(--ocean-color);
}

.header-list-row {
  display: none;
  /* display: flex; */
  align-items: center;
  gap: 40px;
}

.links-header::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 4px;

  border-radius: 2px;
}

.links-header.active::after {
  background-color: var(--ocean-color);
}

.hed-link-active.active {
  color: var(--ocean-color);
}

/* hero section*/

.hero {
  max-width: 1440px;
  margin: 0 auto;
  background-color: var(--color-navy-blue);
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero/bg-hero.jpeg);
  padding: 188px 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-headline {
  display: block;
  color: var(--white-color);
  /* font-size: 56px; */
  font-size: 36px;
  font-weight: 700;
  /* line-height: 1.07; */
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-decoration: none;
  text-transform: none;
  text-align: center;
  max-width: 496px;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (min-width: 768px) {
  .hero-headline {
    font-size: 56px;
    line-height: 1.07;
  }
}

.hero-btn {
  display: block;
  flex-direction: row;
  align-items: flex-start;
  gap: 10px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white-color);
  background-color: var(--iris-color);
  min-width: 169px;
  height: 56px;
  cursor: pointer;
  padding: 16px 32px;
  margin: 48px auto 0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:hover,
.hero-btn:focus {
  color: var(--white-color);
  background-color: var(--ocean-color);
}

/* Skills section */

.skills-container {
  display: flex;
  flex-wrap: wrap;
  /* gap: 72px 24px; */
  row-gap: 72px;
  column-gap: 24px;
}

.skills-title {
  font-weight: 500;
}

.skills-items-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: var(--color-navy-blue);
  margin: 0 0 8px 0;
  text-align: center;
}

.skills-small-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;
  text-transform: none;
  color: var(--color-slate);
}

@media only screen and (min-width: 1200px) {
  .skills-small-text {
    font-weight: 400;
  }
}

.skills-item {
  display: block;
  width: 396px;
}

@media only screen and (min-width: 768px) {
  .skills-item {
    display: block;
    width: 356px;
  }
  .skills-items-title {
    text-align: left;
  }
}

@media only screen and (min-width: 1200px) {
  .skills-item {
    width: 264px;
  }
  .skills-items-title {
    text-align: left;
  }
}

.icon-skill {
  /* display: flex; */
  display: none;
  justify-content: center;
  align-items: center;
  width: 264px;
  height: 112px;
  left: 0px;
  top: 0px;
  background: var(--color-cloud);
  border-radius: 4px;
  margin-bottom: 8px;
}

@media only screen and (min-width: 1200px) {
  .icon-skill {
    display: flex;
  }
  /* .skills-item {
    width: 264px;
  } */
}

/* Doings section */

.section-third {
  display: none;
}

@media only screen and (min-width: 1200px) {
  .section-third {
    display: block;
  }
}

.doing-container {
  display: flex;
  gap: 24px;
}

.doing-element {
  flex-basis: calc((100% - 24px * 2) / 3);
}

/* Team section */

.team-small-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;
  text-transform: none;
  color: var(--color-slate);
  margin-bottom: 8px;
}

.team-container {
  display: flex;
  flex-wrap: wrap;
  row-gap: 72px;
  justify-content: center;
  /* gap: 24px; */
}

@media only screen and (min-width: 768px) {
  .team-container {
    gap: 64px 24px;
  }
}

.team-color {
  background-color: var(--color-cloud);
}

.team-color-list {
  background-color: var(--white-color);
}

.team-item-border {
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.desc-team-container {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 32px 0;
  gap: 8px;
  text-align: center;
}

.socials {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.social-icon {
  fill: var(--color-cloud);
}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: var(--iris-color);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: var(--iris-color);
  border-radius: 50%;
}

.social-link:hover,
.social-link:focus {
  background-color: var(--ocean-color);
  border-radius: 50%;
}

/* Customers section */

.fourth-section-title {
  line-height: 1.1;
}

/* .client-container {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
} */

.client-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 72px 16px;
}

/* .clients-item {
  display: flex;
  width: calc((100% - 120px) / 6);
  height: 88px;
} */

.clients-item {
  display: flex;
  min-width: 110px;
  width: calc((100% - 40px) / 2);
  height: 88px;
}

@media only screen and (min-width: 768px) {
  .clients-item {
    width: calc((100% - 60px) / 3);
  }
  .client-container {
    gap: 72px 24px;
  }
}

@media only screen and (min-width: 1200px) {
  .clients-item {
    width: calc((100% - 120px) / 6);
  }
  /* .client-container {
    gap: 72px 24px;
  } */
}

.client-item-link {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--color-light-slate);
  border-radius: 4px;
  width: 100%;
  height: 100%;
  fill: var(--color-light-slate);
  color: var(--color-light-slate);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.color-clients {
  fill: currentColor;
}

/* .color-clients:hover,
.color-clients:focus {
  fill: var(--ocean-color);
  cubic-bezier(0.4, 0, 0.2, 1)
} */

.client-link-active:hover,
.client-link-active:focus {
  border-color: var(--ocean-color);
  color: var(--ocean-color);
}

/* Footer block */

.footer-container {
  display: flex;
  flex-direction: column;
  row-gap: 72px;

  /* align-items: baseline; */
}

@media only screen and (min-width: 768px) {
  .footer-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* justify-content: center; */
    align-items: baseline;
  }
}

@media only screen and (min-width: 1200px) {
  .footer-container {
    display: flex;
    flex-direction: row;
    align-items: baseline;
  }
}

.footer-part-one {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 16px;
}

@media only screen and (min-width: 768px) {
  .footer-part-one {
    display: inline-block;
    margin-right: 24px;
  }
}

@media only screen and (min-width: 1200px) {
  .footer-part-one {
    display: inline-block;
    margin-right: 120px;
  }
}

/* .footer-part-one {
  display: inline-block;
  margin-right: 120px;
} */

.footer-part-two {
  display: block;
}

@media only screen and (min-width: 1200px) {
  .footer-part-two {
    /* display: block; */
    margin-right: 80px;
  }
}

/* .footer-part-two {
  display: block;
  margin-right: 80px;
} */

.footer-part-three {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 16px;
}

@media only screen and (min-width: 768px) {
  .footer-part-three {
    display: block;
  }
}

@media only screen and (min-width: 1200px) {
  .footer-part-three {
    display: block;
  }
}

/* .footer-part-three {
  display: block;
} */

.footer-subscribe {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media only screen and (min-width: 768px) {
  .footer-subscribe {
    flex-direction: row;
    align-items: flex-start;
  }
}

@media only screen and (min-width: 1200px) {
  .footer-subscribe {
    flex-direction: row;
    align-items: flex-start;
  }
}

/* .footer-subscribe {
  display: flex;
} */

.footer-btn {
  display: flex;
  align-items: center;
  gap: 16px;
  width: 165px;
  height: 40px;
  padding: 8px 24px;
  /* margin-left: 24px; */
  background-color: var(--iris-color);
  border-radius: 4px;
  color: var(--white-color);
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media only screen and (min-width: 768px) {
  .footer-btn {
    margin-left: 24px;
  }
}

@media only screen and (min-width: 1200px) {
  .footer-btn {
    margin-left: 24px;
  }
}

.footer-btn:hover,
.footer-btn:focus {
  color: var(--white-color);
  background-color: var(--ocean-color);
}

.footer-input {
  margin-bottom: 16px;
  width: 264px;
  height: 40px;
  border: 1px solid var(--white-color);
  border-radius: 4px;
  background-color: transparent;
  font-weight: 400;
  font-size: 12px;
  line-height: 24px;
  letter-spacing: 0.04em;
  padding: 8px 16px;
  color: var(--white-color);
}

.footer-input::placeholder {
  color: var(--white-color);
}

.footer-small-text {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.02em;
  color: var(--white-color);

  line-height: 1.5;
  margin-bottom: 16px;
}

@media only screen and (min-width: 768px) {
  .footer-small-text {
    justify-content: left;
  }
}

@media only screen and (min-width: 1200px) {
  .footer-small-text {
    justify-content: left;
  }
}

.logo-font-footer {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--iris-color);
  /* margin-right: 76px; */

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* .footer-small-text {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.02em;
  color: var(--white-color);

  line-height: 1.5;
  margin-bottom: 16px;
} */

.logo-link-footer {
  color: var(--color-cloud);
}

.link-footer {
  color: var(--color-cloud);
  text-decoration: none;
  font-style: normal;
}
.footer-text {
  color: var(--color-cloud);
}
.footer-color {
  background-color: var(--color-navy-blue);
}

.footer-pos {
  padding: 96px 0;
}

@media only screen and (min-width: 1200px) {
  .footer-pos {
    padding: 100px 0;
  }
}

.socials-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.footer-link-status {
  display: inline-block;
  margin-bottom: 16px;
}

.footer-text-size {
  width: 264px;
}

.social-item-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: var(--iris-color);
  border-radius: 50%;
  gap: 16px;
}

.social-link-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: var(--iris-color);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link-footer:hover,
.social-link-footer:focus {
  background-color: var(--color-green);
  border-radius: 50%;
}

/* Portfolio buttons row section */

.btn-row-section {
  padding-top: 96px;
  padding-bottom: 120px;
}

.btn-row-container {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}

.btn-row {
  color: var(--iris-color);
  background-color: var(--color-cloud);
  border-style: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-row-list {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding: 12px 24px;
  border: 1px solid var(--color-cornflower);
  border-radius: 4px;
  cursor: pointer;
  /* transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1); */
}

.btn-row:hover,
.btn-row:focus {
  color: var(--white-color);
  background-color: var(--ocean-color);
  border: 1px solid transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* Done projects */

.link-container-dp {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.done-prj-container {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
}

.desc-done-prj-container {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 32px 16px;
  gap: 8px;
  border: 1px solid var(--color-cornflower);
  border-top: none;
}

.done-prj-element {
  flex-basis: calc((100% - 24px * 2) / 3);
}

.link-container-dp:focus,
.link-container-dp:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.tumb-done-prj {
  position: relative;
  overflow: hidden;
}

.link-container-dp:hover .overlay,
.link-container-dp:focus .overlay {
  transform: translateY(0%);
}

/* ====== Overlay */

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(100%);
  background-color: var(--iris-color);
  width: 100%;
  height: 100%;
  color: var(--color-cloud);
  padding: 40px 32px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* .overlay-text {
  color: var(--color-cloud);
  padding: 40px 32px;
} */

/* ===== Modal window */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 408px;
  min-height: 576px;
  padding: 74px 24px 24px;
  border-radius: 4px;
  background-color: var(--color-dairy);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  background-color: var(--color-cornflower);
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  background-color: var(--ocean-color);
  fill: var(--white-color);
  border: none;
}
.modal-close-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-header {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  line-height: 1.28;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
  display: flex;
  justify-content: center;
}

.form {
  /* display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px; */

  /* width: 100%;
  height: 100%; */
}

.modal-item {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-bottom: 8px;
}

.modal-item-comment {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-bottom: 16px;
}

.modal-small-text {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  /* line-height: 1; */
  letter-spacing: 0.04em;
  color: var(--color-light-slate);
  /* margin-bottom: 4px; */
}
/* .modal-label-item {
  margin-bottom: 4px;
} */

.modal-text-agreement {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.04em;
  color: var(--color-light-slate);
  padding-left: 6px;
}

.modal-input {
  width: 100%;
  height: 40px;

  padding-left: 62px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  /* margin-bottom: 8px; */
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input-wrapper {
  display: block;
  position: relative;
}

.modal-input-icon {
  position: absolute;
  top: 50%;
  left: 19px;
  transform: translateY(-50%);
  width: 18px;
  height: 24px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-comment {
  resize: none;
  width: 100%;
  height: 120px;

  padding: 8px 16px;

  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  /* margin-bottom: 16px; */
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-comment::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}

.modal-input:focus {
  outline: none;
  border-color: var(--iris-color);
}
.modal-input:focus + .modal-input-icon {
  fill: var(--iris-color);
}

.input-comment:focus {
  outline: none;
  border-color: var(--iris-color);
}

.agreement {
  display: flex;
  justify-content: flex-start;

  align-items: center;
  /* gap: 6px; */
}

/* .agreement::before {
  display: block;
  width: 18px;
  height: 18px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  cursor: pointer;
  content: "";
} */

.modal-agreement-check {
  appearance: none;

  /* margin-right: 6px; */
  /* display: block;
  width: 18px;
  height: 18px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  cursor: pointer; */
}

/* .modal-agreement-check:checked {
  background-color: #404bbf;
} */

.unchecked {
  opacity: 1;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checked {
  opacity: 0;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-agreement-check:checked + .modal-icon-check > .unchecked {
  opacity: 0;
}

.modal-agreement-check:checked + .modal-icon-check > .checked {
  opacity: 1;
}

.modal-agreement-check:checked + .agreement::before {
  background-color: var(--ocean-color);
}

.link-color-modal {
  color: var(--iris-color);
}

/* .modal-btn {
  display: block;
  flex-direction: row;
  align-items: flex-start;
  gap: 10px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.28;
  letter-spacing: 0.04em;
  color: var(--white-color);
  background-color: var(--iris-color);
  min-width: 169px;
  height: 56px;
  cursor: pointer;
  padding: 16px 32px;
  margin: 24px auto;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
} */
